<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../../index3.html" class="brand-link">
    <img src="./assets/img/planeticon.png"
         alt="AdminLTE Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Star deck</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">>
        <li class="nav-item">
          <a routerLink="start" class="nav-link" style="cursor:pointer;">
            <i class="ml-1"></i>
            <p class = "ml-1 ">Jugar</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="deck" class="nav-link" style="cursor:pointer;">
            <i class="ml-1"></i>
            <p class = "ml-1 ">Deck</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
