
@import url('https://fonts.cdnfonts.com/css/ocr-a-std');

h1{
    font-family: 'OCR A Std', sans-serif;
  font-size: 30px; /* Tamaño de letra deseado */
  font-weight: bold; /* Grosor de letra deseado */
  color: #FFFF; /* Color de letra deseado */

}

.red-text {
    color: red;
  }

.box {
  background-color: #046e8f; /* Color de fondo deseado */
  border-radius: 20px; /* Radio de los bordes */
  padding: 20px; /* Espacio de relleno interno */
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 70px;


}

.monospace {
  font-family: 'OCR A Std', sans-serif;
  font-size: 18px; /* Tamaño de letra deseado */
  font-weight: bold; /* Grosor de letra deseado */
  color: #FFFF; /* Color de letra deseado */


}

.cardForm{
    margin-top: 7px;
    margin-bottom: 15px;
    width: 85%;
    height: 25px;
    font-family: 'OCR A Std', sans-serif;
    font-size: 15px; /* Tamaño de letra deseado */

}

.cardFormDescription{
    margin-top: 7px;
    margin-bottom: 15px;
    width: 85%;
    font-family: 'OCR A Std', sans-serif;
    font-size: 15px; /* Tamaño de letra deseado */
    white-space: break-spaces; /* No permitir que el texto se divida en varias líneas */
    overflow: hidden; /* Ocultar cualquier texto que sobrepase el ancho del input */
    text-overflow: ellipsis;


}

.required{
    margin-bottom: 3px;
    color: #022f40;
}


  .file-input input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 50%;
    height: 10%;
    cursor: pointer;
  }

  .file-input label {

    width: 60%;
    display:grid;
    padding: 50px 30px;
    background-color: #38aecc;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }

  img {
    height: 130px;
    width: 200px;
    background-position: right center;
  }
