<div class = "box" >

  <div>

    <div style="flex: 1 1 100%;">
      <h1>Cartas del deck</h1>
    </div>

    <mat-grid-list cols="6"  rowHeight="2:3">
      <mat-grid-tile *ngFor="let item of cardsDeck">
        <img src= '{{item.c_image}}' style="object-fit: cover; object-position: center center; width:90%; height: 90%;" (click)="deleteCard(item)">
      </mat-grid-tile>
    </mat-grid-list>


  </div>

  <div *ngIf="cardsDeck.length == 18">
    <label>Nombre deck<span class="red-text">* </span>
      <div>
        <input class="cardForm" type="text" [(ngModel)]="nameDeck" [ngModelOptions] = "{standalone: true}" [attr.maxlength]="30">
      </div>
    </label>
    <button class="cardForm" (click)="saveDeck()">Guardar</button>
  </div>

</div>

<br>

<div class = "box" >

  <div>

    <div style="flex: 1 1 100%;">
      <h1>Cartas disponibles
      </h1>
    </div>

    <mat-grid-list cols="6"  rowHeight="2:3">
      <mat-grid-tile *ngFor="let item of cardsAvailable">
        <img src= '{{item.c_image}}' style="object-fit: cover; object-position: center center; width:90%; height: 90%;" (click)="addCard(item)">
      </mat-grid-tile>
    </mat-grid-list>


  </div>

</div>



